<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1">  1</a></span><span class="line"><span class="keyword">function</span> [<span class="var type1" id="S2T17U3">SAtoSA_synapses</span>, <span class="var type1" id="S3T18U4">sensorytoSA_synapses</span>, <span class="var type1" id="S4T19U5">motortoSA_synapses</span>, <span class="var type1" id="S5T20U6">SAtomotor_synapses</span>, <span class="var type1" id="S6T21U7">SA_tracked</span>, <span class="var type1" id="S7T22U8">sensory_tracked</span>] = Clean_150413_LEARNER(<span class="var type1" id="S8T16U11">steps</span>, <span class="var type1" id="S9T2U12">actions</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2">  2</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3">  3</a></span><span class="line"><span class="comment">% Based on Experiment66_learner_SAFE.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4">  4</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5">  5</a></span><span class="line"><span class="comment">% Input parameter 'steps' is an integer describing the number of</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6">  6</a></span><span class="line"><span class="comment">% exploration steps to be made.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7">  7</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8">  8</a></span><span class="line"><span class="comment">% Input parameter 'actions' is a cell array of strings designating certain</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9">  9</a></span><span class="line"><span class="comment">% actions, e.g.:</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,10" id="srcline10"> 10</a></span><span class="line"><span class="comment">% ['RED_ON', 'RED_OFF', 'GREEN_ON', 'GREEN_OFF']</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,11" id="srcline11"> 11</a></span><span class="line"><span class="comment">% ['Forward', 'Backward', 'Left', 'Right']</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,12" id="srcline12"> 12</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,13" id="srcline13"> 13</a></span><span class="line"><span class="comment">% Outputs synapse matrices.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,14" id="srcline14"> 14</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,15" id="srcline15"> 15</a></span><span class="line"><span class="comment">% Outputs sensory_tracked, which tracks the various states the model has</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,16" id="srcline16"> 16</a></span><span class="line"><span class="comment">% experienced.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,17" id="srcline17"> 17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,18" id="srcline18"> 18</a></span><span class="line"><span class="comment">% Outputs SA_decoded, which tracks the state/action combination currently</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,19" id="srcline19"> 19</a></span><span class="line"><span class="comment">% associated with each neuron.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,20" id="srcline20"> 20</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,21" id="srcline21"> 21</a></span><span class="line"><span class="comment">% Calls a WORLD function to receive sensory input and to perform a planned</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,22" id="srcline22"> 22</a></span><span class="line"><span class="comment">% action.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,23" id="srcline23"> 23</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,24" id="srcline24"> 24</a></span><span class="line"><span class="comment">%% Change-Log</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,25" id="srcline25"> 25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,26" id="srcline26"> 26</a></span><span class="line"><span class="comment">% Created on April 13th 2015</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,27" id="srcline27"> 27</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,28" id="srcline28"> 28</a></span><span class="line"><span class="comment">% Apparently works on April 14th 2015. Saved SAFE version.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,29" id="srcline29"> 29</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,30" id="srcline30"> 30</a></span><span class="line"><span class="comment">% Commented out global 'world_state' variable, as well as the calls to</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,31" id="srcline31"> 31</a></span><span class="line"><span class="comment">% 'world_update_function'.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,32" id="srcline32"> 32</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,33" id="srcline33"> 33</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,34" id="srcline34"> 34</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,35" id="srcline35"> 35</a></span><span class="line"><span class="comment">%% Parameters</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,36" id="srcline36"> 36</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,37" id="srcline37"> 37</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,38" id="srcline38"> 38</a></span><span class="line"><span class="keyword">global</span> <span class="var type0" id="S10T0U14">world_state</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,39" id="srcline39"> 39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,40" id="srcline40"> 40</a></span><span class="line"><span class="comment">% GET SENSORY DATA FROM WORLD (ONLY 1 CELL ACTIVE AT A TIME)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,41" id="srcline41"> 41</a></span><span class="line">[<span class="var type0" id="S11T0U18">sensory_cells</span>] = <span class="message error" id="M1F1C">world_update_function(<span class="string">''</span>, <span class="string">'yes'</span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,42" id="srcline42"> 42</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,43" id="srcline43"> 43</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,44" id="srcline44"> 44</a></span><span class="line"><span class="comment">% Cells</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,45" id="srcline45"> 45</a></span><span class="line"><span class="var type0" id="S13T0U25">num_sensory</span> = [size(<span class="var type0" id="S11T0U30"><span class="message error" id="M2F1C">sensory_cells</span></span>)];</span></span>
<span class="srcline"><span class="lineno"><a href="1,46" id="srcline46"> 46</a></span><span class="line"><span class="var type1" id="S15T3U33">num_motor</span> = [1 size(<span class="var type1" id="S9T2U39">actions</span>, 2)];</span></span>
<span class="srcline"><span class="lineno"><a href="1,47" id="srcline47"> 47</a></span><span class="line"><span class="var type0" id="S16T0U43">num_SAcol</span> = prod(<span class="var type0" id="S13T0U46"><span class="message error" id="M3F1C">num_sensory</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,48" id="srcline48"> 48</a></span><span class="line"><span class="var type1" id="S18T6U49">num_SAcellsinCol</span> = prod(<span class="var type1" id="S15T3U52">num_motor</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,49" id="srcline49"> 49</a></span><span class="line"><span class="var type0" id="S19T0U55">num_SA</span> = [<span class="var type1" id="S18T6U58">num_SAcellsinCol</span> 1 <span class="var type0" id="S16T0U60"><span class="message error" id="M4F1C">num_SAcol</span></span>];</span></span>
<span class="srcline"><span class="lineno"><a href="1,50" id="srcline50"> 50</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,51" id="srcline51"> 51</a></span><span class="line"><span class="comment">% Synapses</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,52" id="srcline52"> 52</a></span><span class="line"><span class="var type0" id="S20T0U63">sensorytoSA_dilution</span> = 1; <span class="comment">%0.3</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,53" id="srcline53"> 53</a></span><span class="line"><span class="var type0" id="S21T0U67">motortoSA_dilution</span> = 1; <span class="comment">%0.2</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,54" id="srcline54"> 54</a></span><span class="line"><span class="var type0" id="S22T0U71">SAtomotor_dilution</span> = 1; <span class="comment">%0.2</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,55" id="srcline55"> 55</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,56" id="srcline56"> 56</a></span><span class="line"><span class="comment">% Competition and Learning</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,57" id="srcline57"> 57</a></span><span class="line"><span class="var type0" id="S23T0U75">learningRate</span> = 100; <span class="comment">%100</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,58" id="srcline58"> 58</a></span><span class="line"><span class="var type0" id="S24T0U79">trace_learningRate</span> = 10; <span class="comment">%0.1; %0.001; % 0.0001</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,59" id="srcline59"> 59</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,60" id="srcline60"> 60</a></span><span class="line"><span class="var type0" id="S25T0U83">normalisation_threshold</span> = 1;</span></span>
<span class="srcline"><span class="lineno"><a href="1,61" id="srcline61"> 61</a></span><span class="line"><span class="var type1" id="S26T6U87">sensory_threshold</span> = 1; <span class="comment">% Necessary to adjust these to compensate for different</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,62" id="srcline62"> 62</a></span><span class="line"><span class="var type0" id="S27T0U91">motor_threshold</span> = 0.25; <span class="comment">% numbers of synapses to sensory and motor cells.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,63" id="srcline63"> 63</a></span><span class="line"><span class="var type0" id="S28T0U95">trace_threshold</span> = 4; <span class="comment">%0.01</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,64" id="srcline64"> 64</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,65" id="srcline65"> 65</a></span><span class="line"><span class="var type0" id="S29T0U99">eta</span> = 0.0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,66" id="srcline66"> 66</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,67" id="srcline67"> 67</a></span><span class="line"><span class="comment">% Noise</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,68" id="srcline68"> 68</a></span><span class="line"><span class="var type0" id="S30T0U103">state_noise</span> = 0.002;</span></span>
<span class="srcline"><span class="lineno"><a href="1,69" id="srcline69"> 69</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,70" id="srcline70"> 70</a></span><span class="line"><span class="comment">% Analysis</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,71" id="srcline71"> 71</a></span><span class="line"><span class="var type2" id="S6T0U107">SA_tracked</span> = <span class="message error" id="M5F1C">{}</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,72" id="srcline72"> 72</a></span><span class="line"><span class="var type2" id="S7T0U112">sensory_tracked</span> = <span class="message error" id="M6F1C">{}</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,73" id="srcline73"> 73</a></span><span class="line"><span class="var type0" id="S31T0U117">text_on</span> = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,74" id="srcline74"> 74</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,75" id="srcline75"> 75</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,76" id="srcline76"> 76</a></span><span class="line"><span class="comment">%% Setup</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,77" id="srcline77"> 77</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,78" id="srcline78"> 78</a></span><span class="line"><span class="autoExtrinsicFcn" id="F17N4:B121">disp</span>(<span class="string">'Setting up<span class="keyword">...</span>'</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,79" id="srcline79"> 79</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,80" id="srcline80"> 80</a></span><span class="line"><span class="comment">% Make networks of sensory, motor and SA neurons.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,81" id="srcline81"> 81</a></span><span class="line"><span class="var type1" id="S33T13U125">motor_cells</span> = zeros(<span class="var type1" id="S15T3U128">num_motor</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,82" id="srcline82"> 82</a></span><span class="line"><span class="var type0" id="S35T0U131">SA_cells</span> = zeros(<span class="var type0" id="S19T0U134"><span class="message error" id="M7F1C">num_SA</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,83" id="srcline83"> 83</a></span><span class="line"><span class="var type0" id="S36T0U137">SA_trace</span> = zeros(<span class="var type0" id="S19T0U140"><span class="message error" id="M8F1C">num_SA</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,84" id="srcline84"> 84</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,85" id="srcline85"> 85</a></span><span class="line"><span class="comment">% Create synapse weights between SA cells and motor&lt;=&gt;SA.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,86" id="srcline86"> 86</a></span><span class="line"><span class="var type2" id="S2T0U143">SAtoSA_synapses</span> = GenerateZeroWeights(numel(<span class="var type0" id="S35T0U148"><span class="message error" id="M9F1C">SA_cells</span></span>), numel(<span class="var type0" id="S35T0U151">SA_cells</span>), 1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,87" id="srcline87"> 87</a></span><span class="line"><span class="var type2" id="S4T0U155">motortoSA_synapses</span> = Generate_Diluted_Weights(<span class="var type1" id="S33T13U158">motor_cells</span>, <span class="var type0" id="S35T0U159"><span class="message error" id="M10F1C">SA_cells</span></span>, <span class="var type0" id="S21T0U160">motortoSA_dilution</span>, 1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,88" id="srcline88"> 88</a></span><span class="line"><span class="var type2" id="S5T0U164">SAtomotor_synapses</span> = Generate_Diluted_Weights(<span class="var type0" id="S35T0U167"><span class="message error" id="M11F1C">SA_cells</span></span>, <span class="var type2" id="S33T0U168">motor_cells</span>, <span class="var type0" id="S22T0U169">SAtomotor_dilution</span>, 1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,89" id="srcline89"> 89</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,90" id="srcline90"> 90</a></span><span class="line"><span class="comment">% Create sensory =&gt; SA synapses that are identical for all cells in a</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,91" id="srcline91"> 91</a></span><span class="line"><span class="comment">% column.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,92" id="srcline92"> 92</a></span><span class="line"><span class="var type1" id="S3T9U173">sensorytoSA_synapses</span> = [];</span></span>
<span class="srcline"><span class="lineno"><a href="1,93" id="srcline93"> 93</a></span><span class="line"><span class="keyword">for</span> <span class="var type0" id="S40T0U178">column</span> = 1:<span class="var type0" id="S16T0U181"><span class="message error" id="M12F1C">num_SAcol</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="1,94" id="srcline94"> 94</a></span><span class="line">    <span class="var type2" id="S3T0U184">sensorytoSA_synapses</span> = [<span class="var type2" id="S3T0U187">sensorytoSA_synapses</span> repmat(Generate_Diluted_Weights(<span class="var type0" id="S11T0U192"><span class="message error" id="M13F1C">sensory_cells</span></span>, 1, <span class="var type0" id="S20T0U194">sensorytoSA_dilution</span>, 1), [1 size(<span class="var type2" id="S9T0U201">actions</span>,2)])];</span></span>
<span class="srcline"><span class="lineno"><a href="1,95" id="srcline95"> 95</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,96" id="srcline96"> 96</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,97" id="srcline97"> 97</a></span><span class="line"><span class="comment">% Normalise synapses</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,98" id="srcline98"> 98</a></span><span class="line"><span class="var type2" id="S3T0U205">sensorytoSA_synapses</span> = <span class="message error" id="M14F1C"><span class="fcn" id="F18N3:B207">normalise</span>(<span class="var type1" id="S3T9U208">sensorytoSA_synapses</span>, <span class="var type1" id="S26T6U209">sensory_threshold</span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,99" id="srcline99"> 99</a></span><span class="line"><span class="var type2" id="S4T0U212">motortoSA_synapses</span> = normalise(<span class="var type2" id="S4T0U215"><span class="message error" id="M15F1C">motortoSA_synapses</span></span>, <span class="var type0" id="S27T0U216">motor_threshold</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,100" id="srcline100">100</a></span><span class="line"><span class="var type2" id="S5T0U219">SAtomotor_synapses</span> = normalise(<span class="var type2" id="S5T0U223"><span class="message error" id="M16F1C">SAtomotor_synapses</span></span>', <span class="var type0" id="S27T0U224">motor_threshold</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,101" id="srcline101">101</a></span><span class="line"><span class="var type2" id="S5T0U227">SAtomotor_synapses</span> = <span class="var type2" id="S5T0U229"><span class="message error" id="M17F1C">SAtomotor_synapses</span></span>';</span></span>
<span class="srcline"><span class="lineno"><a href="1,102" id="srcline102">102</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,103" id="srcline103">103</a></span><span class="line"><span class="autoExtrinsicFcn" id="F47N4:B232">disp</span>(<span class="string">'<span class="keyword">...</span>Setup Complete.'</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,104" id="srcline104">104</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,105" id="srcline105">105</a></span><span class="line"><span class="comment">%% RUN TRIAL</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,106" id="srcline106">106</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,107" id="srcline107">107</a></span><span class="line"><span class="comment">%% Timing</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,108" id="srcline108">108</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,109" id="srcline109">109</a></span><span class="line"><span class="message error" id="M18F1C">tic</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,110" id="srcline110">110</a></span><span class="line"><span class="var type0" id="S44T0U239">duration</span> = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,111" id="srcline111">111</a></span><span class="line"><span class="keyword">for</span> <span class="var type0" id="S45T0U243">time</span> = 1:<span class="var type1" id="S8T16U246">steps</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,112" id="srcline112">112</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,113" id="srcline113">113</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,114" id="srcline114">114</a></span><span class="line">    <span class="var type0" id="S46T0U249">noNaNsensorytoSA</span> = <span class="var type2" id="S3T0U250"><span class="message fatal" id="M20F1C">sensorytoSA_synapses</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,115" id="srcline115">115</a></span><span class="line">    <span class="var type0" id="S46T0U254">noNaNsensorytoSA</span>(isnan(<span class="var type0" id="S46T0U257">noNaNsensorytoSA</span>)) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,116" id="srcline116">116</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,117" id="srcline117">117</a></span><span class="line">    <span class="var type0" id="S48T0U261">noNaNmotortoSA</span> = <span class="var type2" id="S4T0U262">motortoSA_synapses</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,118" id="srcline118">118</a></span><span class="line">    <span class="var type0" id="S48T0U266">noNaNmotortoSA</span>(isnan(<span class="var type0" id="S48T0U269">noNaNmotortoSA</span>)) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,119" id="srcline119">119</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,120" id="srcline120">120</a></span><span class="line">    <span class="var type0" id="S49T0U273">noNaNSAtomotor</span> = <span class="var type2" id="S5T0U274">SAtomotor_synapses</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,121" id="srcline121">121</a></span><span class="line">    <span class="var type0" id="S49T0U278">noNaNSAtomotor</span>(isnan(<span class="var type0" id="S49T0U281">noNaNSAtomotor</span>)) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,122" id="srcline122">122</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,123" id="srcline123">123</a></span><span class="line">    <span class="comment">%% Firing of SA cells and Recruitment of Column</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,124" id="srcline124">124</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,125" id="srcline125">125</a></span><span class="line">    <span class="comment">% GET SENSORY DATA FROM WORLD (ONLY 1 CELL ACTIVE AT A TIME)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,126" id="srcline126">126</a></span><span class="line">    [<span class="var type0" id="S11T0U286">sensory_cells</span>] = world_update_function(<span class="string">''</span>, <span class="string">'yes'</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,127" id="srcline127">127</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,128" id="srcline128">128</a></span><span class="line">    <span class="comment">% SA cells fire based on current sensory cells (state).</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,129" id="srcline129">129</a></span><span class="line">    <span class="var type0" id="S35T0U293">SA_cells</span> = dot((repmat(<span class="var type0" id="S11T0U300">sensory_cells</span>(:),[1,numel(<span class="var type0" id="S35T0U307">SA_cells</span>)])), <span class="var type0" id="S46T0U308">noNaNsensorytoSA</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,130" id="srcline130">130</a></span><span class="line">    <span class="var type0" id="S35T0U311">SA_cells</span> = reshape(<span class="var type0" id="S35T0U314">SA_cells</span>, <span class="var type0" id="S19T0U315">num_SA</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,131" id="srcline131">131</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,132" id="srcline132">132</a></span><span class="line">    <span class="comment">% TRANSFER FUNCTION</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,133" id="srcline133">133</a></span><span class="line">    <span class="var type0" id="S35T0U319">SA_cells</span>(<span class="var type0" id="S35T0U322">SA_cells</span> &gt; 0.1 &amp; <span class="var type0" id="S35T0U325">SA_cells</span> &lt; 0.95) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,134" id="srcline134">134</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,135" id="srcline135">135</a></span><span class="line">    <span class="comment">% columnar WTA</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,136" id="srcline136">136</a></span><span class="line">    <span class="var type0" id="S35T0U331">SA_cells</span>(<span class="var type0" id="S35T0U333">SA_cells</span> == max(max(<span class="var type0" id="S35T0U338">SA_cells</span>))) = 1;</span></span>
<span class="srcline"><span class="lineno"><a href="1,137" id="srcline137">137</a></span><span class="line">    <span class="var type0" id="S35T0U343">SA_cells</span>(<span class="var type0" id="S35T0U345">SA_cells</span> ~= max(max(<span class="var type0" id="S35T0U350">SA_cells</span>))) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,138" id="srcline138">138</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,139" id="srcline139">139</a></span><span class="line">    <span class="comment">% RECORD STATES EXPERIENCED</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,140" id="srcline140">140</a></span><span class="line">    <span class="var type0" id="S53T0U354">sensory_info</span> = <span class="var type0" id="S11T0U355">sensory_cells</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,141" id="srcline141">141</a></span><span class="line">    <span class="message error" id="M19F1C"><span class="var type2" id="S7T0U359">sensory_tracked</span>{<span class="var type0" id="S45T0U360">time</span>}</span> = <span class="var type0" id="S53T0U361">sensory_info</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,142" id="srcline142">142</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,143" id="srcline143">143</a></span><span class="line">    <span class="comment">% Update sensorytoSA weights.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,144" id="srcline144">144</a></span><span class="line">    <span class="var type2" id="S3T0U364">sensorytoSA_synapses</span> = <span class="var type2" id="S3T0U366">sensorytoSA_synapses</span> + (<span class="var type0" id="S23T0U369">learningRate</span> * (<span class="var type0" id="S11T0U373">sensory_cells</span>(:) * <span class="var type0" id="S35T0U377">SA_cells</span>(:)'));</span></span>
<span class="srcline"><span class="lineno"><a href="1,145" id="srcline145">145</a></span><span class="line">    <span class="var type2" id="S3T0U381">sensorytoSA_synapses</span> = normalise(<span class="var type2" id="S3T0U384">sensorytoSA_synapses</span>, <span class="var type2" id="S26T0U385">sensory_threshold</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,146" id="srcline146">146</a></span><span class="line">    <span class="var type0" id="S46T0U388">noNaNsensorytoSA</span> = noNaN(<span class="var type2" id="S3T0U391">sensorytoSA_synapses</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,147" id="srcline147">147</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,148" id="srcline148">148</a></span><span class="line">    <span class="comment">%% TRACE LEARNING: Update connections from ACTIVE COLUMN to PREVIOUS (trace) SA_CELL:</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,149" id="srcline149">149</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,150" id="srcline150">150</a></span><span class="line">    <span class="comment">% Update synapses using lr * state firing * trace rule (backwards)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,151" id="srcline151">151</a></span><span class="line">    <span class="var type2" id="S2T0U394">SAtoSA_synapses</span> = <span class="var type2" id="S2T0U396">SAtoSA_synapses</span> + (<span class="var type0" id="S24T0U400">trace_learningRate</span> * <span class="var type0" id="S35T0U402">SA_cells</span>(:) * <span class="var type0" id="S36T0U406">SA_trace</span>(:)');</span></span>
<span class="srcline"><span class="lineno"><a href="1,152" id="srcline152">152</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,153" id="srcline153">153</a></span><span class="line">    <span class="comment">% Normalise synapses</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,154" id="srcline154">154</a></span><span class="line">    <span class="var type2" id="S2T0U410">SAtoSA_synapses</span> = normalise(<span class="var type2" id="S2T0U413">SAtoSA_synapses</span>, <span class="var type0" id="S28T0U414">trace_threshold</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,155" id="srcline155">155</a></span><span class="line">    <span class="var type2" id="S2T0U418">SAtoSA_synapses</span>(isnan(<span class="var type2" id="S2T0U421">SAtoSA_synapses</span>)) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,156" id="srcline156">156</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,157" id="srcline157">157</a></span><span class="line">    <span class="comment">%% Select an action and activate the appropriate motor cell.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,158" id="srcline158">158</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,159" id="srcline159">159</a></span><span class="line">    <span class="var type0" id="S55T0U425">action</span> = <span class="var type2" id="S9T0U427">actions</span>{randi(size(<span class="var type2" id="S9T0U432">actions</span>,2))};</span></span>
<span class="srcline"><span class="lineno"><a href="1,160" id="srcline160">160</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,161" id="srcline161">161</a></span><span class="line">    <span class="comment">% UPDATE WORLD FROM ACTION (ONLY 1 CELL ACTIVE AT A TIME)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,162" id="srcline162">162</a></span><span class="line">    world_update_function(<span class="var type0" id="S55T0U437">action</span>, <span class="string">'no'</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,163" id="srcline163">163</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,164" id="srcline164">164</a></span><span class="line">    [~, <span class="var type0" id="S57T0U443">idx</span>] = ismember(<span class="var type0" id="S55T0U446">action</span>, <span class="var type2" id="S9T0U447">actions</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,165" id="srcline165">165</a></span><span class="line">    <span class="var type2" id="S33T0U451">motor_cells</span>(<span class="var type0" id="S57T0U452">idx</span>) = 1;</span></span>
<span class="srcline"><span class="lineno"><a href="1,166" id="srcline166">166</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,167" id="srcline167">167</a></span><span class="line">    <span class="comment">% Activation of SA cells from sensory and motor cells simulataneously.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,168" id="srcline168">168</a></span><span class="line">    <span class="var type0" id="S35T0U457">SA_cells</span>(:) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,169" id="srcline169">169</a></span><span class="line">    <span class="var type0" id="S35T0U462">SA_cells</span> = dot(([repmat(<span class="var type2" id="S33T0U471">motor_cells</span>(:), [1,numel(<span class="var type0" id="S35T0U478">SA_cells</span>)]); repmat(<span class="var type0" id="S11T0U483">sensory_cells</span>(:), [1,numel(<span class="var type0" id="S35T0U490">SA_cells</span>)])]), [<span class="var type0" id="S48T0U493">noNaNmotortoSA</span>; <span class="var type0" id="S46T0U495">noNaNsensorytoSA</span>]);</span></span>
<span class="srcline"><span class="lineno"><a href="1,170" id="srcline170">170</a></span><span class="line">    <span class="var type0" id="S35T0U498">SA_cells</span> = reshape(<span class="var type0" id="S35T0U501">SA_cells</span>, <span class="var type0" id="S19T0U502">num_SA</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,171" id="srcline171">171</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,172" id="srcline172">172</a></span><span class="line">    <span class="comment">% WTA:</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,173" id="srcline173">173</a></span><span class="line">    <span class="var type0" id="S35T0U505">SA_cells</span> = WTA_Competition(<span class="var type0" id="S35T0U509">SA_cells</span>(:));</span></span>
<span class="srcline"><span class="lineno"><a href="1,174" id="srcline174">174</a></span><span class="line">    <span class="var type0" id="S35T0U513">SA_cells</span> = reshape(<span class="var type0" id="S35T0U516">SA_cells</span>, <span class="var type0" id="S19T0U517">num_SA</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,175" id="srcline175">175</a></span><span class="line">   </span></span>
<span class="srcline"><span class="lineno"><a href="1,176" id="srcline176">176</a></span><span class="line">    <span class="comment">% Weights updated.</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,177" id="srcline177">177</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,178" id="srcline178">178</a></span><span class="line">    <span class="var type2" id="S4T0U520">motortoSA_synapses</span> = <span class="var type2" id="S4T0U522">motortoSA_synapses</span> + <span class="var type0" id="S23T0U525">learningRate</span> * <span class="var type2" id="S33T0U527">motor_cells</span>(:) * <span class="var type0" id="S35T0U531">SA_cells</span>(:)';</span></span>
<span class="srcline"><span class="lineno"><a href="1,179" id="srcline179">179</a></span><span class="line">    <span class="var type2" id="S5T0U535">SAtomotor_synapses</span> = <span class="var type2" id="S5T0U537">SAtomotor_synapses</span> + <span class="var type0" id="S23T0U540">learningRate</span> * <span class="var type0" id="S35T0U542">SA_cells</span>(:) * <span class="var type2" id="S33T0U546">motor_cells</span>(:)';</span></span>
<span class="srcline"><span class="lineno"><a href="1,180" id="srcline180">180</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,181" id="srcline181">181</a></span><span class="line">    <span class="comment">% Weights normalised</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,182" id="srcline182">182</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,183" id="srcline183">183</a></span><span class="line">    <span class="var type2" id="S4T0U550">motortoSA_synapses</span> = normalise(<span class="var type2" id="S4T0U553">motortoSA_synapses</span>, <span class="var type0" id="S27T0U554">motor_threshold</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,184" id="srcline184">184</a></span><span class="line">    <span class="var type2" id="S5T0U557">SAtomotor_synapses</span> = normalise(<span class="var type2" id="S5T0U561">SAtomotor_synapses</span>', <span class="var type0" id="S27T0U562">motor_threshold</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,185" id="srcline185">185</a></span><span class="line">    <span class="var type2" id="S5T0U565">SAtomotor_synapses</span> = <span class="var type2" id="S5T0U567">SAtomotor_synapses</span>';</span></span>
<span class="srcline"><span class="lineno"><a href="1,186" id="srcline186">186</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,187" id="srcline187">187</a></span><span class="line">    <span class="comment">% RECORD STATE/ACTION COMBINATIONS EXPERIENCED</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,188" id="srcline188">188</a></span><span class="line">    <span class="var type0" id="S60T0U571">SA_info</span>{1} = <span class="var type0" id="S11T0U573">sensory_cells</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,189" id="srcline189">189</a></span><span class="line">    <span class="var type0" id="S60T0U577">SA_info</span>{2} = find(<span class="var type2" id="S33T0U581">motor_cells</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,190" id="srcline190">190</a></span><span class="line">    <span class="var type0" id="S60T0U585">SA_info</span>{3} = find(<span class="var type0" id="S35T0U591">SA_cells</span> &gt; 0.1)';</span></span>
<span class="srcline"><span class="lineno"><a href="1,191" id="srcline191">191</a></span><span class="line">    <span class="var type2" id="S6T0U596">SA_tracked</span>{<span class="var type0" id="S45T0U597">time</span>} = <span class="var type0" id="S60T0U598">SA_info</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,192" id="srcline192">192</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,193" id="srcline193">193</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,194" id="srcline194">194</a></span><span class="line">    <span class="comment">%% Calculate SA trace</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,195" id="srcline195">195</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,196" id="srcline196">196</a></span><span class="line">    <span class="comment">% Calculate the trace value for all cells</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,197" id="srcline197">197</a></span><span class="line">    <span class="var type0" id="S36T0U601">SA_trace</span> = getTrace(<span class="var type0" id="S35T0U604">SA_cells</span>, <span class="var type0" id="S36T0U605">SA_trace</span>, <span class="var type0" id="S29T0U606">eta</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,198" id="srcline198">198</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,199" id="srcline199">199</a></span><span class="line">    <span class="comment">%% Reset Cells and Update parameters</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,200" id="srcline200">200</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,201" id="srcline201">201</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,202" id="srcline202">202</a></span><span class="line">    <span class="var type0" id="S35T0U610">SA_cells</span>(:) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,203" id="srcline203">203</a></span><span class="line">    <span class="var type0" id="S11T0U616">sensory_cells</span>(:) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,204" id="srcline204">204</a></span><span class="line">    <span class="var type2" id="S33T0U622">motor_cells</span>(:) = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,205" id="srcline205">205</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="1,206" id="srcline206">206</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,207" id="srcline207">207</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,208" id="srcline208">208</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,209" id="srcline209">209</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,210" id="srcline210">210</a></span><span class="line">disp(<span class="string">'Complete'</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,211" id="srcline211">211</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,212" id="srcline212">212</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,213" id="srcline213">213</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,214" id="srcline214">214</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,215" id="srcline215">215</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,216" id="srcline216">216</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,217" id="srcline217">217</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,218" id="srcline218">218</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,219" id="srcline219">219</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,220" id="srcline220">220</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,221" id="srcline221">221</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,222" id="srcline222">222</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,223" id="srcline223">223</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,224" id="srcline224">224</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,225" id="srcline225">225</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,226" id="srcline226">226</a></span><span class="line"></span></span>
</pre>
