<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T17">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">SAtoSA_synapses</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">unknown</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S3T9">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">sensorytoSA_synapses &gt; 1</a></td>
<td>Local</td><td class="watchsize" id="1">0 x 0</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T18">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">sensorytoSA_synapses &gt; 2</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">unknown</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S4T19">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">motortoSA_synapses</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">unknown</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S5T20">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">SAtomotor_synapses</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">unknown</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S6T21">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">SA_tracked</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">unknown</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S7T22">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">sensory_tracked</a></td>
<td>Output</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">unknown</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S8T16">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">steps</a></td>
<td>Input</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">int32</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T2">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">actions</a></td>
<td>Input</td><td class="watchsize" id="8">1 x <b>:</b>?</td>
<td class="watchclass">char</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S15T3">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">num_motor</a></td>
<td>Local</td><td class="watchsize" id="4">1 x 2</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S18T6">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">num_SAcellsinCol</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S26T6">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">sensory_threshold</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S33T13">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">motor_cells</a></td>
<td>Local</td><td class="watchsize" id="8">1 x <b>:</b>?</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
