<pre class="code">
<span class="srcline"><span class="lineno"><a href="11,1" id="srcline1">  1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T25U3">z</span> = eml_div(<span class="var type1" id="S3T9U6">x</span>,<span class="var type1" id="S4T15U7">y</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="11,2" id="srcline2">  2</a></span><span class="line"><span class="comment">%MATLAB Code Generation Private Function</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,3" id="srcline3">  3</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,4" id="srcline4">  4</a></span><span class="line"><span class="comment">%   Floating point and integer division: z = x./y;</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,5" id="srcline5">  5</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,6" id="srcline6">  6</a></span><span class="line"><span class="comment">%   Copyright 2002-2011 The MathWorks, Inc.</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,7" id="srcline7">  7</a></span><span class="line"><span class="comment">%#codegen</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,8" id="srcline8">  8</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,9" id="srcline9">  9</a></span><span class="line"><span class="keyword">if</span> isinteger(<span class="var type1" id="S3T9U13">x</span>) || isinteger(<span class="mxinfo" id="T15:U5"><span class="var type1" id="S4T15U16">y</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="11,10" id="srcline10"> 10</a></span><span class="line">    <span class="var type2" id="S2T0U19">z</span> = eml_idiv(<span class="var type2" id="S3T0U22">x</span>,<span class="var type2" id="S4T0U23">y</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,11" id="srcline11"> 11</a></span><span class="line"><span class="keyword">elseif</span> <span class="mxinfo" id="T5:U7">eml_is_constant_folding</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,12" id="srcline12"> 12</a></span><span class="line">    <span class="var type2" id="S2T0U29">z</span> = <span class="message error" id="M23F45C"><span class="fcn" id="F46N6:B31">eml_fldiv</span>(<span class="var type1" id="S3T9U32">x</span>,<span class="mxinfo" id="T15:U9"><span class="var type1" id="S4T15U33">y</span></span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="11,13" id="srcline13"> 13</a></span><span class="line"><span class="keyword">elseif</span> eml_ambiguous_types</span></span>
<span class="srcline"><span class="lineno"><a href="11,14" id="srcline14"> 14</a></span><span class="line">    <span class="var type2" id="S2T0U39">z</span> = double(eml_rdivide(<span class="var type2" id="S3T0U44">x</span>,<span class="var type2" id="S4T0U45">y</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,15" id="srcline15"> 15</a></span><span class="line"><span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,16" id="srcline16"> 16</a></span><span class="line">    <span class="var type2" id="S2T0U49">z</span> = eml_rdivide(<span class="var type2" id="S3T0U52">x</span>,<span class="var type2" id="S4T0U53">y</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,17" id="srcline17"> 17</a></span><span class="line"><span class="keyword"><span class="keyword">end</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="11,18" id="srcline18"> 18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,19" id="srcline19"> 19</a></span><span class="line"><span class="comment">%--------------------------------------------------------------------------</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,20" id="srcline20"> 20</a></span><span class="line"></span></span>
</pre>
