<pre class="code">
<span class="srcline"><span class="lineno"><a href="11,18" id="srcline18"> 18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,19" id="srcline19"> 19</a></span><span class="line"><span class="comment">%--------------------------------------------------------------------------</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,20" id="srcline20"> 20</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,21" id="srcline21"> 21</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S13T26U56">z</span> = eml_fldiv(<span class="var type1" id="S14T9U59">x</span>,<span class="var type1" id="S15T15U60">y</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="11,22" id="srcline22"> 22</a></span><span class="line"><span class="comment">% Floating point division.</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,23" id="srcline23"> 23</a></span><span class="line">coder.inline(<span class="string">'always'</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,24" id="srcline24"> 24</a></span><span class="line"><span class="keyword">if</span> isreal(<span class="var type1" id="S14T9U72">x</span>) &amp;&amp; isreal(<span class="mxinfo" id="T15:U5"><span class="var type1" id="S15T15U75">y</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="11,25" id="srcline25"> 25</a></span><span class="line">    <span class="var type2" id="S13T0U78">z</span> = <span class="message error" id="M24F46C">eml_rdivide(<span class="var type1" id="S14T9U81">x</span>,<span class="var type1" id="S15T15U82">y</span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="11,26" id="srcline26"> 26</a></span><span class="line"><span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,27" id="srcline27"> 27</a></span><span class="line">    <span class="comment">% Test:  [num,den] = meshgrid( <span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="11,28" id="srcline28"> 28</a></span><span class="line">    <span class="comment">%   [-2,-1,0,1,2,1i,1+1i,nan,nan*1i,nan+nan*1i,inf,-inf,inf*1i, <span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="11,29" id="srcline29"> 29</a></span><span class="line">    <span class="comment">%   -inf*1i,inf+inf*1i,inf-inf*1i,-inf+inf*1i,-inf-inf*1i]);</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,30" id="srcline30"> 30</a></span><span class="line">    <span class="var type2" id="S13T0U86">z</span> = eml_scalexp_alloc(eml_scalar_eg(<span class="var type2" id="S14T0U91">x</span>,<span class="var type2" id="S15T0U92">y</span>),<span class="var type2" id="S14T0U93">x</span>,<span class="var type2" id="S15T0U94">y</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,31" id="srcline31"> 31</a></span><span class="line">    <span class="keyword">for</span> <span class="var type0" id="S21T0U97">k</span> = 1:eml_numel(<span class="var type2" id="S13T0U102">z</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="11,32" id="srcline32"> 32</a></span><span class="line">        <span class="var type0" id="S23T0U105">xk</span> = eml_scalexp_subsref(<span class="var type2" id="S14T0U108">x</span>,<span class="var type0" id="S21T0U109">k</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,33" id="srcline33"> 33</a></span><span class="line">        <span class="var type0" id="S25T0U112">yk</span> = eml_scalexp_subsref(<span class="var type2" id="S15T0U115">y</span>,<span class="var type0" id="S21T0U116">k</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,34" id="srcline34"> 34</a></span><span class="line">        <span class="var type0" id="S26T0U119">ar</span> = real(<span class="var type0" id="S23T0U122">xk</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,35" id="srcline35"> 35</a></span><span class="line">        <span class="var type0" id="S28T0U125">ai</span> = imag(<span class="var type0" id="S23T0U128">xk</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,36" id="srcline36"> 36</a></span><span class="line">        <span class="var type0" id="S30T0U131">br</span> = real(<span class="var type0" id="S25T0U134">yk</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,37" id="srcline37"> 37</a></span><span class="line">        <span class="var type0" id="S31T0U137">bi</span> = imag(<span class="var type0" id="S25T0U140">yk</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,38" id="srcline38"> 38</a></span><span class="line">        <span class="var type0" id="S32T0U143">brm</span> = abs(<span class="var type0" id="S30T0U146">br</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,39" id="srcline39"> 39</a></span><span class="line">        <span class="var type0" id="S34T0U149">bim</span> = abs(<span class="var type0" id="S31T0U152">bi</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,40" id="srcline40"> 40</a></span><span class="line">        <span class="keyword">if</span> <span class="var type0" id="S31T0U156">bi</span> == 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,41" id="srcline41"> 41</a></span><span class="line">            <span class="keyword">if</span> <span class="var type0" id="S28T0U161">ai</span> == 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,42" id="srcline42"> 42</a></span><span class="line">                <span class="var type2" id="S13T0U166">z</span>(<span class="var type0" id="S21T0U167">k</span>) = eml_rdivide(<span class="var type0" id="S26T0U170">ar</span>,<span class="var type0" id="S30T0U171">br</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,43" id="srcline43"> 43</a></span><span class="line">            <span class="keyword">elseif</span> <span class="var type0" id="S26T0U174">ar</span> == 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,44" id="srcline44"> 44</a></span><span class="line">                <span class="var type2" id="S13T0U179">z</span>(<span class="var type0" id="S21T0U180">k</span>) = complex(0,eml_rdivide(<span class="var type0" id="S28T0U186">ai</span>,<span class="var type0" id="S30T0U187">br</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,45" id="srcline45"> 45</a></span><span class="line">            <span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,46" id="srcline46"> 46</a></span><span class="line">                <span class="var type2" id="S13T0U192">z</span>(<span class="var type0" id="S21T0U193">k</span>) = complex(eml_rdivide(<span class="var type0" id="S26T0U198">ar</span>,<span class="var type0" id="S30T0U199">br</span>),eml_rdivide(<span class="var type0" id="S28T0U202">ai</span>,<span class="var type0" id="S30T0U203">br</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,47" id="srcline47"> 47</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,48" id="srcline48"> 48</a></span><span class="line">        <span class="keyword">elseif</span> <span class="var type0" id="S30T0U206">br</span> == 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,49" id="srcline49"> 49</a></span><span class="line">            <span class="keyword">if</span> <span class="var type0" id="S26T0U211">ar</span> == 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,50" id="srcline50"> 50</a></span><span class="line">                <span class="var type2" id="S13T0U216">z</span>(<span class="var type0" id="S21T0U217">k</span>) = eml_rdivide(<span class="var type0" id="S28T0U220">ai</span>,<span class="var type0" id="S31T0U221">bi</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,51" id="srcline51"> 51</a></span><span class="line">            <span class="keyword">elseif</span> <span class="var type0" id="S28T0U224">ai</span> == 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,52" id="srcline52"> 52</a></span><span class="line">                <span class="var type2" id="S13T0U229">z</span>(<span class="var type0" id="S21T0U230">k</span>) = complex(0,eml_rdivide(-<span class="var type0" id="S26T0U237">ar</span>,<span class="var type0" id="S31T0U238">bi</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,53" id="srcline53"> 53</a></span><span class="line">            <span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,54" id="srcline54"> 54</a></span><span class="line">                <span class="var type2" id="S13T0U243">z</span>(<span class="var type0" id="S21T0U244">k</span>) = complex(eml_rdivide(<span class="var type0" id="S28T0U249">ai</span>,<span class="var type0" id="S31T0U250">bi</span>),eml_rdivide(-<span class="var type0" id="S26T0U254">ar</span>,<span class="var type0" id="S31T0U255">bi</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,55" id="srcline55"> 55</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,56" id="srcline56"> 56</a></span><span class="line">        <span class="keyword">elseif</span> <span class="var type0" id="S32T0U258">brm</span> &gt; <span class="var type0" id="S34T0U259">bim</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,57" id="srcline57"> 57</a></span><span class="line">            <span class="var type0" id="S36T0U262">s</span> = eml_rdivide(<span class="var type0" id="S31T0U265">bi</span>,<span class="var type0" id="S30T0U266">br</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,58" id="srcline58"> 58</a></span><span class="line">            <span class="var type0" id="S37T0U269">d</span> = <span class="var type0" id="S30T0U271">br</span> + <span class="var type0" id="S36T0U273">s</span>*<span class="var type0" id="S31T0U274">bi</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="11,59" id="srcline59"> 59</a></span><span class="line">            <span class="var type2" id="S13T0U278">z</span>(<span class="var type0" id="S21T0U279">k</span>) = complex(eml_rdivide(<span class="var type0" id="S26T0U285">ar</span>+<span class="var type0" id="S36T0U287">s</span>*<span class="var type0" id="S28T0U288">ai</span>,<span class="var type0" id="S37T0U289">d</span>),eml_rdivide(<span class="var type0" id="S28T0U293">ai</span>-<span class="var type0" id="S36T0U295">s</span>*<span class="var type0" id="S26T0U296">ar</span>,<span class="var type0" id="S37T0U297">d</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,60" id="srcline60"> 60</a></span><span class="line">        <span class="keyword">elseif</span> <span class="var type0" id="S32T0U300">brm</span> == <span class="var type0" id="S34T0U301">bim</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,61" id="srcline61"> 61</a></span><span class="line">            <span class="var type0" id="S38T0U304">brs</span> = 0.5;</span></span>
<span class="srcline"><span class="lineno"><a href="11,62" id="srcline62"> 62</a></span><span class="line">            <span class="keyword">if</span> <span class="var type0" id="S30T0U309">br</span> &lt; 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,63" id="srcline63"> 63</a></span><span class="line">                <span class="var type0" id="S38T0U313">brs</span> = -0.5;</span></span>
<span class="srcline"><span class="lineno"><a href="11,64" id="srcline64"> 64</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,65" id="srcline65"> 65</a></span><span class="line">            <span class="var type0" id="S39T0U318">bis</span> = 0.5;</span></span>
<span class="srcline"><span class="lineno"><a href="11,66" id="srcline66"> 66</a></span><span class="line">            <span class="keyword">if</span> <span class="var type0" id="S31T0U323">bi</span> &lt; 0</span></span>
<span class="srcline"><span class="lineno"><a href="11,67" id="srcline67"> 67</a></span><span class="line">                <span class="var type0" id="S39T0U327">bis</span> = -0.5;</span></span>
<span class="srcline"><span class="lineno"><a href="11,68" id="srcline68"> 68</a></span><span class="line">            <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,69" id="srcline69"> 69</a></span><span class="line">            <span class="var type2" id="S13T0U333">z</span>(<span class="var type0" id="S21T0U334">k</span>) = complex( <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,70" id="srcline70"> 70</a></span><span class="line">                eml_rdivide(<span class="var type0" id="S26T0U341">ar</span>*<span class="var type0" id="S38T0U342">brs</span>+<span class="var type0" id="S28T0U344">ai</span>*<span class="var type0" id="S39T0U345">bis</span>,<span class="var type0" id="S32T0U346">brm</span>), <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,71" id="srcline71"> 71</a></span><span class="line">                eml_rdivide(<span class="var type0" id="S28T0U351">ai</span>*<span class="var type0" id="S38T0U352">brs</span>-<span class="var type0" id="S26T0U354">ar</span>*<span class="var type0" id="S39T0U355">bis</span>,<span class="var type0" id="S32T0U356">brm</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,72" id="srcline72"> 72</a></span><span class="line">        <span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,73" id="srcline73"> 73</a></span><span class="line">            <span class="var type0" id="S36T0U360">s</span> = eml_rdivide(<span class="var type0" id="S30T0U363">br</span>,<span class="var type0" id="S31T0U364">bi</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="11,74" id="srcline74"> 74</a></span><span class="line">            <span class="var type0" id="S37T0U367">d</span> = <span class="var type0" id="S31T0U369">bi</span> + <span class="var type0" id="S36T0U371">s</span>*<span class="var type0" id="S30T0U372">br</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="11,75" id="srcline75"> 75</a></span><span class="line">            <span class="var type2" id="S13T0U376">z</span>(<span class="var type0" id="S21T0U377">k</span>) = complex(eml_rdivide(<span class="var type0" id="S36T0U384">s</span>*<span class="var type0" id="S26T0U385">ar</span>+<span class="var type0" id="S28T0U386">ai</span>,<span class="var type0" id="S37T0U387">d</span>),eml_rdivide(<span class="var type0" id="S36T0U392">s</span>*<span class="var type0" id="S28T0U393">ai</span>-<span class="var type0" id="S26T0U394">ar</span>,<span class="var type0" id="S37T0U395">d</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="11,76" id="srcline76"> 76</a></span><span class="line">        <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,77" id="srcline77"> 77</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,78" id="srcline78"> 78</a></span><span class="line"><span class="keyword"><span class="keyword">end</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="11,79" id="srcline79"> 79</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="11,80" id="srcline80"> 80</a></span><span class="line"><span class="comment">%--------------------------------------------------------------------------</span></span></span>
<span class="srcline"><span class="lineno"><a href="11,81" id="srcline81"> 81</a></span><span class="line"></span></span>
</pre>
