<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,231" id="srcline231">231</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,232" id="srcline232">232</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,233" id="srcline233">233</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,234" id="srcline234">234</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S69T23U653">matrix</span> = normalise(<span class="mxinfo" id="T9:U2"><span class="mxinfo" id="T9:U3"><span class="var type1" id="S69T9U656">matrix</span></span></span>, <span class="var type1" id="S70T6U657">threshold</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,235" id="srcline235">235</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,236" id="srcline236">236</a></span><span class="line"><span class="var type2" id="S69T0U660">matrix</span> = <span class="message error" id="M21F18C"><span class="var type1" id="S69T9U662">matrix</span> ./ ( <span class="mxinfo" id="T15:U7">(1/<span class="var type1" id="S70T6U668">threshold</span>) * repmat( sum(<span class="var type1" id="S69T9U673">matrix</span>), size(<span class="var type1" id="S69T9U676">matrix</span>, 1), 1)</span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,237" id="srcline237">237</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,238" id="srcline238">238</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
