<pre class="code">
<span class="srcline"><span class="lineno"><a href="10,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T24U3">z</span> = rdivide(<span class="var type1" id="S3T9U6">x</span>,<span class="var type1" id="S4T15U7">y</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="10,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">%MATLAB Code Generation Library Function</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,3" id="srcline3"> 3</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">%   Copyright 2002-2010 The MathWorks, Inc.</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">%#codegen</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,6" id="srcline6"> 6</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,7" id="srcline7"> 7</a></span><span class="line">eml_invariant(nargin &gt; 1, <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,8" id="srcline8"> 8</a></span><span class="line">    eml_message(<span class="string">'Coder:MATLAB:minrhs'</span>));</span></span>
<span class="srcline"><span class="lineno"><a href="10,9" id="srcline9"> 9</a></span><span class="line">eml_invariant(isa(<span class="var type1" id="S3T9U23">x</span>,<span class="string">'numeric'</span>), <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,10" id="srcline10">10</a></span><span class="line">    eml_message(<span class="string">'Coder:toolbox:unsupportedClass'</span>,<span class="string">'rdivide'</span>,class(<span class="var type1" id="S3T9U31">x</span>)));</span></span>
<span class="srcline"><span class="lineno"><a href="10,11" id="srcline11">11</a></span><span class="line">eml_invariant(isa(<span class="mxinfo" id="T15:U6"><span class="var type1" id="S4T15U37">y</span></span>,<span class="string">'numeric'</span>), <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,12" id="srcline12">12</a></span><span class="line">    eml_message(<span class="string">'Coder:toolbox:unsupportedClass'</span>,<span class="string">'rdivide'</span>,class(<span class="mxinfo" id="T15:U8"><span class="var type1" id="S4T15U45">y</span></span>)));</span></span>
<span class="srcline"><span class="lineno"><a href="10,13" id="srcline13">13</a></span><span class="line"><span class="var type2" id="S2T0U48">z</span> = <span class="message error" id="M22F44C"><span class="fcn" id="F45N5:B50">eml_div</span>(<span class="var type1" id="S3T9U51">x</span>,<span class="mxinfo" id="T15:U11"><span class="var type1" id="S4T15U52">y</span></span>)</span>;</span></span>
</pre>
